.nuclide-ui-panel-component-scroller {
    overflow: auto;
}

.nuclide-file-tree-toolbar-container {
    div.ReactVirtualized__Grid__innerScrollContainer {
        overflow-x: auto !important;
    }    
}

.nuclide-ui-section-collapsable {
  // background-color: #374046;
  // height: 2em;
}

.nuclide-file-tree-toolbar-container {
  background-color: #2d3235;
}
