
// UI Variables
// -------------------
//
// Ultra smooth theme inspried by the KDE 4 Oxygen theme
// Comparing to the original Oxygen L&F, this theme has even more subtile colors
//
// Overrides: atom/static/variables/ui-variables.less

// Oxygen theme colors
@oxygen-accent-color:  rgb(201, 148, 45);
@oxygen-accent-color-darker:  #456480;
@oxygen-glow-color:    rgba(0, 0, 0, 0.54);
@oxygen-glow-radius:   20px;
@oxygen-hover-glow-radius:   12px;

// Text Colors
@text-color:           #cacaca;
@text-color-subtle:    #808080;
@text-color-highlight: #f99827;
@text-color-selected:  #f99827;

@text-color-info:    #6494ed;
@text-color-success: #73c990;
@text-color-warning: #e2c08d;
@text-color-error:   #ff6347;

// Background colors
@background-color-info:    #448ccb;
@background-color-success: #1c9c71;
@background-color-warning: #cc8533;
@background-color-error:   #a3608b;

@background-color-highlight: lighten(@base-background-color, 5%);
@background-color-selected:  lighten(@base-background-color, 10%);
@app-background-color:       darken(@base-background-color, 5%);

// Base colors
@base-background-color: #272a2b;
@base-border-color:     #272a2b;

// Status bar colors
@status-bar-background-color: @base-background-color;
@status-bar-border-color:     #484848;

// Panel colors
@pane-item-background-color: @base-background-color;
@pane-item-border-color:     @base-border-color;

// Dock colors
@dock-background-color: @pane-item-background-color;
@dock-border-color:     @dock-background-color;

// Widget Colors
@form-widget-base-color: #f99827;

@input-background-color: @app-background-color;
@input-border-color:     @base-border-color;

// Panels
@tool-panel-background-color: #272a2b;
@tool-panel-border-color:     @base-border-color;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color:     @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color:     @base-border-color;

@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color:     @base-border-color;

// Buttons
@button-radius:                    5px;
@button-background-color:          #353d41;
@button-background-color-hover:    lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color:              @base-border-color;
@button-hover-transition: box-shadow @animation-duration ease-out;
@colored-button-text-color:        #fff;

.render-button-background(@baseColor) {
    background: linear-gradient(to Bottom,
                                lighten(@baseColor, 3%) 30%,
                                @baseColor 100%);
}

// Tab bar colors
@tab-bar-background-color:    @base-background-color;
@tab-bar-background-color-top: @base-background-color;
@tab-bar-background-color-bottom: #e3e0de;
@tab-bar-border-color:        #484848;
@tab-background-color:        #373737;
@tab-background-color-active: @tab-bar-border-color;
@tab-border-color:            @base-border-color;

// Tree view colors
@tree-view-background-color: #2d3235;
@tree-view-border-color:     @base-border-color;

@tree-header-background-color: #4e7396;
@tree-header-collapsed-background-color: #4c5f71;
@tree-item-selected-background-color: #5c7588;
@tree-item-hover-background-color: #64707c;

// List view colors
@list-item-selected-background-color: #474c50;
@list-item-hover-background-color: #64707c;

// Scrollbars
@scrollbar-base-color: #448ccb;
@scrollbar-thumb-highlight-color-start:  rgba(60, 130, 192, 0.4);
@scrollbar-thumb-highlight-color-end:    rgba(60, 130, 192, 0);

// Site colors
@ui-site-color-1: hsl(208, 100%, 50%); // blue
@ui-site-color-2: hsl(160,  70%, 42%); // green
@ui-site-color-3: hsl(32,   60%, 50%); // orange
@ui-site-color-4: #D831B0;             // pink
@ui-site-color-5: #EBDD5B;             // yellow

// Sizes
@font-size: 12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;

@tab-text-height: 2.2em;
@tab-height: 2.5em;

// Misc
@component-border-radius: 2px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
@animation-duration: 0.2s;
